fastapi
uvicorn
redis
psycopg2-binary
groq
numpy
pandas
scipy
fundamentus
scikit-learn
yfinance
pandas-datareader
seaborn
matplotlib
statsmodels
plotly
vectorbt
arch
hmmlearn
gymnasium
stable-baselines3
email-validator
torch
transformers 
Riskfolio-Lib
pytest